/config.py
/config.json
/percy.log
/restart.sh
/venv/
/__pycache__/
/cogs/__pycache__/
/cogs/utils/__pycache__/
/cogs/utils/anisearch/__pycache__/
/cogs/utils/comic/__pycache__/
/cogs/utils/comic/marvel/__pycache__/
/cogs/utils/scraping/__pycache__/
/cogs/snekbox/__pycache__/
/cogs/minigames/__pycache__/
/cogs/docs/__pycache__/
/.idea/
/prefixes.json
/blacklist.json
/discord_status.json
/media_config.json
/data_storage.json
/migrations/revisions.json