aiohttp
asyncpg>=0.27.0
click
discord.py[speed]>=2.3.0
psutil
pygit2
feedparser
python-dateutil
python-Levenshtein
lru_dict
playwright
beautifulsoup4
matplotlib
fuzzywuzzy
humanfriendly
sqlalchemy
expiringdict
parsedatetime
lxml

git+https://github.com/Gorialis/jishaku.git