aiohttp
asyncpg>=0.27.0
click
discord.py[speed]>=2.2.2
expiringdict
parsedatetime
psutil
pygit2
feedparser
python-dateutil
requests
spotipy
python-Levenshtein
lru_dict
playwright
beautifulsoup4
matplotlib
fuzzywuzzy
sphobjinv
humanfriendly

git+https://github.com/Gorialis/jishaku.git